<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="dbconnection1" connectionString="server=10.26.1.58\FUJITECDEV;database=IntranetPortal;User=appuser;Password=sql@2022;Max Pool Size=5000;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
		<add name="dbconnection" connectionString="server=FUJITECPORTAL\FUJITECPORTAL;database=IntranetPortal;User=sa;Password=sql@2019;Max Pool Size=5000;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
		<!--<add name="dbconnection" connectionString="server=FUJITECPORTAL\FUJITECPORTAL;database=IntranetPortal2024;User=sa;Password=sql@2019;Max Pool Size=5000;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>-->
		<!--<add name="dbconnection" connectionString="server=HOCOM5792122\SQLEXPRESS2019;Initial Catalog=IntranetPortal;User=FUJITECDEV;Password=FUJITECDEV;Trusted_Connection=True;MultipleActiveResultSets=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>-->
		<add name="dbconnectionUAT" connectionString="server=10.26.1.19\FTECUATSQL2016;database=IntranetPortal;User=appsuser;Password=sql@2008;Max Pool Size=5000;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
		<add name="dbconnectionLIVE" connectionString="server=FUJITECDATA\MSSQLSERVER2016;database=ERPR11Live;User=sa;Password=sql@2016;Max Pool Size=5000;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
		<add name="dbconnectionLIVERPT" connectionString="server=FUJITECDBLIVE\SQL2016;database=ERPR11Live_Reports;User=appsuser;Password=sql@2022;Max Pool Size=5000;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
		<add name="Excelxls" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
		<add name="Excelxlsx" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
		<add name="Excelxlsm" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR=YES'"/>
	</connectionStrings>
	<appSettings>
		<add key="VMSApp" value="http://localhost:8082/ManageAppointmentDtl.aspx"/>
		<add key="MRBApp" value="http://localhost:8083/MeetingRoomDashboard.aspx"/>
		<!--<add key="MRBApp" value="https://localhost:44371/MeetingRoomDashboard.aspx" />-->
		<add key="EBOMApp" value="http://localhost:8081/SearchEQPESTBRKUP.aspx"/>
		<add key="HRFilePath" value="D:\vinoth\Projects\FujiTecIntranetPortal\InductionFile\HR"/>
		<add key="FilePath" value="D:\vinoth\Projects\FujiTecIntranetPortal\InductionFile\IT"/>
		<add key="FilePathFODSITE" value="D:\vinoth\Projects\FujiTecIntranetPortal\InductionFile\FODSITE"/>
		<add key="FilePathFODSERVICE" value="D:\vinoth\Projects\FujiTecIntranetPortal\InductionFile\FODSERVICE"/>
		<add key="FilePathENGINEERING" value="D:\vinoth\Projects\FujiTecIntranetPortal\InductionFile\ENGINEERING"/>
		<add key="FilePathFINANCE" value="D:\vinoth\Projects\FujiTecIntranetPortal\InductionFile\FINANCE"/>
		<add key="FilePathPLANNING" value="D:\vinoth\Projects\FujiTecIntranetPortal\InductionFile\PLANNING"/>
		<add key="FilePathPRODUCTION" value="D:\vinoth\Projects\FujiTecIntranetPortal\InductionFile\PRODUCTION"/>
		<add key="FilePathPURCHASE" value="D:\vinoth\Projects\FujiTecIntranetPortal\InductionFile\PURCHASE"/>
		<add key="FilePathSALES" value="D:\vinoth\Projects\FujiTecIntranetPortal\InductionFile\SALES"/>
		<add key="FilePathContacts" value="D:\vinoth\Projects\FujiTecIntranetPortal\InductionFile\CONTACTS"/>
		<add key="FilePathSAFETY" value="D:\vinoth\Projects\FujiTecIntranetPortal\InductionFile\SAFETY"/>
		<add key="FilePathSAFETYTBT" value="D:\vinoth\Projects\FujiTecIntranetPortal\InductionFile\SAFETY\TBT"/>
		<add key="FilePathSAFETYSTBT" value="D:\vinoth\Projects\FujiTecIntranetPortal\InductionFile\SAFETY\STBT"/>
		<add key="FilePathQuality" value="D:\vinoth\Projects\FujiTecIntranetPortal\InductionFile\QUALITY"/>
		<add key="FilePathTRAINING" value="D:\vinoth\Projects\FujiTecIntranetPortal\InductionFile\TRAINING"/>
		<add key="FilePathSAFETYINDUCTION" value="D:\vinoth\Projects\FujiTecIntranetPortal\InductionFile\SAFETYINDUCTION"/>
		<add key="FilePathBS" value="D:\vinoth\Projects\FujiTecIntranetPortal\InductionFile\BS"/>
		<add key="EmailPwd" value="HelpDesk@20$22"/>
		<add key="Emp_Image" value="~\EmployeePhoto"/>
		<add key="News_Image" value="~\NewsEvents\FUJI\"/>
		<add key="SUBCONPDF" value="~\PDFIDCARD\"/>
		<!--<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />-->
		<add key="EmailFrom" value="ftecin-notification@fujitec.co.in"/>
		<add key="EmailTo" value="vinothkumar.s@in.fujitec.com"/>
		<add key="EmailToSafety" value="safetyho@fujitec.co.in"/>
		<add key="EmailPwd" value="HelpDesk@20$22"/>
		<add key="Quote" value="~\assets\images\Quote.jpg"/>
		<add key="DELIVERYDASHBOARD" value="Accde2,01283,02021"/>
		<add key="Form16" value="~\Form16\"/>
	</appSettings>
	<!--<location path="~/MISReports/InventoryReport.aspx">
    <system.web>
      <httpRuntime executionTimeout="30000" maxRequestLength="1073741824" />
    </system.web>
  </location>-->
	<location path="~/MISReports/Upload">
		<system.web>
			<!--<httpRuntime executionTimeout="30000" maxRequestLength="2147483647" />-->
			<!--<httpRuntime targetFramework="4.6" maxRequestLength="2147483647" executionTimeout="30000" requestLengthDiskThreshold="2147483647" />-->
			<!-- 3GB Files / in kilobyte (3072*1024) -->
			<!--<httpRuntime targetFramework="4.6" maxRequestLength="3145728" />-->
			<!--<httpRuntime targetFramework="4.6" maxRequestLength="20480" />-->
			<httpRuntime requestValidationMode="2.0" targetFramework="4.6" maxRequestLength="10240" executionTimeout="300"/>
		</system.web>
	</location>
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<add value="LandingPage/LandingPage.aspx"/>

			</files>
		</defaultDocument>
		<!--<security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>      
    </security>-->
		<security>
			<requestFiltering>
				<!--<requestLimits maxAllowedContentLength="3000000000" />-->
				<!--<requestLimits maxAllowedContentLength="2147483647" />-->
				<!-- 3GB Files / in byte (3072*1024*1024) -->
				<requestLimits maxAllowedContentLength="3221225472"/>
			</requestFiltering>
		</security>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
		<handlers/>
	</system.webServer>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.8">
			<assemblies/>
		</compilation>
		<httpRuntime   maxRequestLength="1048576" executionTimeout="3600" requestValidationMode="2.0" targetFramework="4.6" />
		<pages validateRequest="false">
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
				<add namespace="Syncfusion.JavaScript.Web" assembly="Syncfusion.EJ, Version=20.3460.0.59, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" tagPrefix="ej"/>
				<add namespace="Syncfusion.JavaScript.DataVisualization.Models" assembly="Syncfusion.EJ, Version=20.3460.0.59, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" tagPrefix="ej"/>
				<add namespace="Syncfusion.JavaScript.Models" assembly="Syncfusion.EJ, Version=20.3460.0.59, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" tagPrefix="ej"/>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
			</controls>
		</pages>
		<httpHandlers/>
		<profile defaultProvider="DefaultProfileProvider">
			<providers/>
		</profile>
		<membership defaultProvider="DefaultMembershipProvider">
			<providers/>
		</membership>
		<roleManager defaultProvider="DefaultRoleProvider">
			<providers/>
		</roleManager>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.CSharp" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>