.employee-container {
    position: relative;
    width: 100%;
    height: 85vh;
    min-height: 85vh;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 12px;
    background-image: url("/LandingPage/Resource/employee_slide_show_bg.png");
    background-size: cover;
}

    .employee-container .welcome-text {
        margin-top: 5px;
        padding: 5px;
        font-family: Pacifico;
        font-size: 1.8rem;
        font-weight: 550;
        color: #1f1e1e;
        text-align: center;
        cursor: default;
    }

    .employee-container .employee-image {
        margin-top: 8px;
        position: relative;
        width: 100%;
        height: 50%;
        max-height: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

        .employee-container .employee-image img {
            max-width: 100%;
            max-height: 100%;
            min-width: 60%;           
            object-fit:fill;
            object-position: top center;
            background-color: orange;          
            transition: transform 0.5s ease;
        }
            /* Applying rotate and zoom effect on hover */
            .employee-container .employee-image img:hover {
                transform: scale(1.05);
            }

    .employee-container .employee-info {
        margin-top: 8px;
        position: relative;
        width: 100%;
        height: 25%;
        max-height: 25%;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        color: whitesmoke;
    }

        .employee-container .employee-info div {
            margin-bottom: 5px;
            font-size: 1.1rem;
        }

        .employee-container .employee-info .employee-name {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .employee-container .employee-info .employee-dep,
        .employee-container .employee-info .employee-desig {
            font-style: italic;
        }

        .employee-container .employee-info .employee-location {
            font-style: italic;
        }


.employee-navigation-container {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

    .employee-navigation-container .employee-navigation-btn {
        font-size: 17px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        color: #dddada;
        margin: 0 10px;
        transition: transform 0.1s ease;
        margin: 0;
    }

        .employee-navigation-container .employee-navigation-btn:hover {
            color: #CACACA;
            transform: scale(1.3);
            background-color: rgba(92, 91, 91, 0.25);
            border-radius: 95px;
            width: 25px;
            height: 25px;
        }

.employee-prev-btn {
    margin-right: 18px;
}

.employee-next-btn {
    margin-left: 18px;
}

.employee-navigation-container .employee-dot-container {
    display: flex;
    align-items: center;
    margin: 0 10px;
    white-space: nowrap;
}

    .employee-navigation-container .employee-dot-container .employee-dot {
        height: 8px;
        width: 8px;
        margin: 0 5px;
        background-color: #cccccc;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        cursor: pointer;
    }

        .employee-navigation-container .employee-dot-container .employee-dot.active {
            background-color: #CACACA;
            height: 12px;
            width: 12px;
        }

.employee-navigation-container .employee-image-number {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    z-index: 1;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
    .employee-container .employee-info div {
        font-size: 1.1rem;
    }

    .employee-container .employee-info .employee-name {
        font-size: 1.3rem;
    }

    .employee-navigation-container .employee-dot-container .employee-dot {
        height: 6px; /* Adjust dot size for smaller screens */
        width: 6px;
    }

    .employee-navigation-container .employee-image-number {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}
/* Responsive styles for larger screens */
@media screen and (min-width: 1200px) {
    .employee-container .employee-info div {
        font-size: 1.2rem; /* Adjust font size for larger screens */
    }

    .employee-container .employee-info .employee-name {
        font-size: 1.5rem; /* Adjust font size for larger screens */
    }

    .employee-navigation-container .employee-navigation-btn {
        font-size: 20px; /* Adjust font size for larger screens */
    }

    .employee-navigation-container .employee-dot-container .employee-dot {
        height: 10px; /* Adjust dot size for larger screens */
        width: 10px;
    }

    .employee-navigation-container .employee-image-number {
        font-size: 18px; /* Adjust font size for larger screens */
    }
}
