
.event-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    margin: 20px;
}

.event-images {
    width: 90%;
    height: 85vh;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    left: 5%;
}

.event-image-number {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    z-index: 1;
}

.event-images img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.event-description-portion {
    position: absolute;
    bottom: 0;
    background: rgba(5, 1, 1, 0.8);
    box-shadow: 0 8px 32px 0 rgba(3, 3, 3, 0.37);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    width: 100%;
    height: 16%;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.event-image-description {
    color: #f1f1f1;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 4px;
}

.event-navigation-container {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 3px auto;
}

.event-navigation-btn {
    font-size: 17px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: #dddada;
    margin: 0 10px;
    transition: transform 0.1s ease;
    margin: 0;
}

    .event-navigation-btn:hover {
        color: #d12232;
        transform: scale(1.3);
        background-color: rgba(92, 91, 91, 0.25);
        border-radius: 95px;
        width: 25px;
        height: 25px;
    }

.event-prev-btn {
    margin-right: 18px;
}

.event-next-btn {
    margin-left: 18px;
}

.event-dot-container {
    display: flex;
    align-items: center;
    margin: 0 10px;
    white-space: nowrap;
}

.event-dot {
    height: 8px;
    width: 8px;
    margin: 0 5px;
    background-color: #cccccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

    .event-dot.active {
        background-color: #d12232;
        height: 10px;
        width: 10px;
    }

@media screen and (max-width: 768px) {
    .event-container {
        height: auto;
        padding: 10px;
    }

    .event-images {
        height: auto;
        border-radius: 0;
    }

    .event-description-portion {
        position: relative;
        height: auto;
        padding: 15px;
    }

    .event-image-description {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 8px;
    }

    .event-navigation-container {
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 10px;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0px;
    }

    .event-navigation-btn,
    .event-dot {
        margin: 5px;
    }

    .event-prev-btn,
    .event-next-btn {
        margin-bottom: 10px;
    }
}
