/* Styles for the popup container */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

/* Styles for the popup content */
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 60%;
    max-width: 400px;
    height: 550px;
    max-height: 90%;
    overflow-y: auto;
    background-image: url("/LandingPage/Resource/login_bg.png");
    background-size: cover;
}

.popup-title-label {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
    margin: 0;
}

.login-illustration-image {
    width: auto;
    max-height: 180px;
    display: block;
    margin: 0 auto;
}


.popup-label {
    display: block;
    padding-top: 16px;
    margin-bottom: 5px;
    margin-left: 24px;
    font-weight: bold;
    text-align: left;
}

.name-label {
    display: block;
    padding-top: 12px;
}

.error-label {
    display: block;
    color: red;
    background-color: yellow;
    margin-top: 12px;
    font-weight: bold;
    white-space: normal;
    word-wrap: break-word;
}

.popup-textbox {
    width: 90%;
    padding: 12px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

    .popup-textbox:first-child {
        margin-top: 150px;
    }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.popup-button {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #D12232;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 90%;
    height: 40px;
}

    .popup-button:hover {
        transform: scale(1.025);
    }

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    padding: 5px;
}

    .close-button:hover {
        color: black;
        transform: scale(1.25);
    }

.popup-title-label,
.popup-label,
.popup-textbox,
.popup-button {
    font-family: Arial, Helvetica, sans-serif;
}
