

.news-outer-container {
    position: relative;
    width: 100%;
    min-height: 85vh;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-image: url("/LandingPage/Resource/news_container_bg.png");
    background-size: cover; /* You can add this line to ensure the background covers the entire container */
}

.latest-news-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 550;
    font-family: Roboto;
    color: #1f1e1e;
    text-align: center;
    margin-bottom: 1vw;
    cursor: default;
}

.decorative-shape {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    z-index: 1;
}

    .decorative-shape svg {
        width: 105px;
        height: 95px;
    }

.decorative-shape-right {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    z-index: 1;
}

    .decorative-shape-right svg {
        width: 101px;
        height: 131px;
        transform: translateY(3%);
    }

.news-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    overflow-y: auto;
    max-height: calc(85vh - 40px);
    scrollbar-width: thin;
    scrollbar-color: #D5D5D5 #F8F8F8;
}

    .news-inner-container::-webkit-scrollbar {
        width: 6px;
    }

    .news-inner-container::-webkit-scrollbar-thumb {
        background-color: #D5D5D5;
        border-radius: 4px;
    }

#line {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: #D01026;
}

.news-card {
    width: 98%;
    height: auto;
    max-height: calc(85vh - 40px);
    margin-right: 4px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    border: 0.5px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    background-color: #F8F8F8;
    position: relative;
    z-index: 1;
}

    .news-card:last-child {
        margin-bottom: 0;
    }

    .news-card:hover {
        background-color: #FBFBFB;
        box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
    }


    .news-card img {
        width: 75px;
        height: 75px;
        object-fit: cover;
        padding: 7px;
        margin: 0 5px;
    }

.news-info {
    flex-grow: 1;
    margin: 8px;
    width: calc(100% - 120px);
}

.news-title {
    font-size: 12px;
    font-weight: 600;
    text-align: left;
}

.news-author-date {
    color: #606060;
    font-size: 12px;
    margin: 0;
    font-weight: 200;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
