
.quotes-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 10px;
}

.quotes-images {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

    .quotes-images img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: fill;
        top: 0;
        left: 0;
    }
