.video-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 10px;
}

    .video-container video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
    }


.video-navigation-container {
    width: 100%;
    display: none; /* Initially hide the navigation container */
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.video-container:hover .video-navigation-container {
    display: flex;
}

.video-navigation-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 8px;
    color: #000;
    z-index: 5;
}


.video-navigation-btn {
    font-size: 17px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: #dddada;
    margin: 0 10px;
    transition: transform 0.1s ease;
    margin: 0;
}

    .video-navigation-btn:hover {
        color: #d12232;
        transform: scale(1.1);
        background-color: rgba(92, 91, 91, 0.25);
        border-radius: 100px;
        width: 35px;
        height: 35px;
    }

.video-prev-btn {
    margin-right: 18px;
}

.video-next-btn {
    margin-left: 18px;
}

.video-dot-container {
    display: flex;
    align-items: center;
    margin: 0 10px;
    white-space: nowrap;
    z-index: 3;
}


.video-dot {
    height: 8px;
    width: 8px;
    margin: 0 5px;
    background-color: #cccccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
    z-index: 5;
}

    .video-dot.active {
        background-color: #d12232;
        height: 10px;
        width: 10px;
    }
